body {
	background-color: hsl(120, 100%, 50%);
	font-family:sans-serif;
}

body.loud {
	background-color: hsl(0, 100%, 50%);
}

img {
	display: none;
}
body.loud img {
	position: absolute;
  top: 50%;
	left: 50%;
	display: block;
	transform: translate(-50%, -50%);
}

section.message {
	position: absolute;
  top: 50%;
	left: 50%;
	display: none;
	color: #ffffff;
	text-align: center;
	font-size: 56px;
	transform: translate(-50%, -50%);
}

.message.silent {
	display: block;
}

.mic-chart {
  float: left;
  width: 30%;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}
